{% extends 'base.html' %}
{% load static %}
{% block title %} Room {% endblock title%}

{% block content %}

<main>
    <div id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </div>

    <div>
        <div id="video-streams">       
             
        </div>
    </div>
</main>
<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.11.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}">

</script>

{% endblock content %}
