{% extends 'base.html' %}

{% block title %} Room {% endblock title%}

{% block content %}

<main>
    <div id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </div>

    <div>
        <id id="video-streams">

            <div class="video-container" id="user-container-1">
                <div class="username-wrapper"><span class="user-name">My name</span></div>
                <div class="video-player" id="user-1"></div>
            </div>

        </id>
    </div>
</main>
{% endblock content %}
